h1 GroupDoc 
p New Document 
  
  form(name="document",method="post",action="/doc")
    label Title 
    p  
      input(type="text",name="title")
    label Content 
    p  
      textarea(name="content")  
    p
      button(type="submit") Submit
  p= documents.length 
  ul
    each doc in documents
      p Title: #{doc.title}
      p Content: #{doc.content}
